.favoritos{
  height: 100px;
}
body{
  background-image: url("../img/fondococina.jpg");
  background-attachment: fixed !important;
}
.img-principal{
  width: 100%;
  height: 400px;
}
.grid-container{
  background-image: url("../img/fondo1.png");

}
.img-social img{
  width: 50px;
}
