.logo-img{
  width: 100px;
}

.img-social{
  margin-top: 50px;
  width: 30px;
  float: right;
}
.navegacion{
  height: 9%;
}
.img-artistas{
  width: 90%;
}
.img-comen{
  width: 60px;
}
body{
  background-color: #652348;
}
.container{
  background-color: #ECE4DB;
}
.right-column{
  display: inline-block;
}

@media screen and (max-width: 770px){
  .right-column{
    display: none;
  }
}
